.btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 15px;
  background-color: #8654cc;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}
.btn:hover {
  background-color: #67419e;
}
